// $main-color:rgb(179, 255, 0);
// $secondary-color:green;
// $small:1rem;
// $medium:2rem;
// $large:3rem;
$font: "Helvetica Neue",
sans-serif;

$twitter: #349CC3;
$vimeo: #3C5A99;
$facebook:#3FB7EA;
$snapchat:#FDFC00;
$airbnb:#F65C63;
$android:#A4C639;
$github:#4078C0;
$js:#F7DF1E;